@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 50px;
  font-family: "Roboto", sans-serif;
}

.box {
  /* background-color: red; */
}

.query {
  background-color: rgb(199, 199, 199);
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

li {
  margin-left: 15px;
}
